<%- products.each do |p| %>
    <tr>
        <td class="text-center py-3 px-4 justify-center">
            <span class="flex items-center justify-center m-2">
                <%= image_tag p.first_photo_url(:thumb) rescue "" %>
            </span>
        </td>
        <td class="w-1/3 text-left py-3 px-4">
            <%= link_to p.sku, product_path(p) %>
        </td>
        <td class="w-1/3 text-left py-3 px-4">
            <%= p.name %>
        </td>
        <td class="text-left py-3 px-4">
            <%= p.count %>
        </td>
        <%- if current_user.is_admin? %>
            <td class="text-left py-3 px-4">
                <%= button_to "Edit", edit_product_path(p), method: :get, 
                    form_class: "w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center" 
                %>
                <%= button_to "Delete", product_path(p), method: :delete, 
                    form_class: "w-full bg-red-700 text-slate-200 font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
                %>
            </td>
        <% end %>
        
    </tr>
<% end %>